<a href="https://colab.research.google.com/github/amansoni7477030/spam-detection/blob/main/spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/spam.csv')

In [4]:
df.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.Category.unique()

array(['ham', 'spam'], dtype=object)

In [10]:
df['spam']=df['Category'].apply(lambda x : 1 if x=='spam' else 0)

In [11]:
df.head(5)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size=0.2,random_state=42)

In [14]:
len(x_train)

4457

In [15]:
len(x_test)

1115

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
cv_messages = v.fit_transform(x_train.values)
cv_messages.toarray()[0:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [18]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [24]:
model.fit(cv_messages,y_train)

MultinomialNB()

In [25]:
email = [
         'Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030',
         'Ahhh. Work. I vaguely remember that! What does it feel like? Lol'

]
email_count = v.transform(email)
model.predict(email_count)

array([1, 0])

In [27]:
x_test_count = v.transform(x_test)
model.score(x_test_count,y_test)

0.989237668161435

In [28]:
#sklearn pipeline

In [30]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
                ('vectorizer',CountVectorizer()),
                ('nb',MultinomialNB())
])
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [38]:
email = [
         
'aman'
]
email_count = v.transform(email)
model.predict(email_count)

array([0])

In [39]:
clf.score(x_test,y_test)

0.989237668161435

In [40]:
import joblib
joblib.dump(clf,'spam_model.pkl')

['spam_model.pkl']